*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #EFEFEF;
  --text-color: #000000;
  --theme-color: #FF7979;


}


/* safari fix */
button{
  color: var(--text-color);
  padding: 0;
}

body{
  transition: 1s;
  background-color: var(--theme-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}


main{
  width: 50vw;
  height: 400px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  padding: 30px;
  display: flex;
}


#numpad button{
  background-color: var(--primary-color);
  border: none;
  font-size: 36px;
  width: 60px;
  height: 60px;
  border-radius: 99px;
}

#numpad button.btn-operator{
  color: red;
}

.btn-num:active{
  background: red;
}

.btn-equal{
  background-color: var(--theme-color)!important;
}
#numpad{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#numpad .numpad-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
}


#numbox{
  flex: 1;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

#result-container{
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
}

#result-container h1{
  font-size: 64px;
  margin: 0;

}

#result-container h2{
  margin: 0;
  opacity: 0.5;
}

.btn{
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;


}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn-util img {
  /* filter: invert(95%) sepia(5%) saturate(0%) hue-rotate(314deg) brightness(103%) contrast(108%); */
}
.btn img{
  margin-right: 10px;
}


#info{
  text-align: left;
}
#info .title{
  color: white;
}


/*  Tablet */
@media only screen and (max-width: 1200px) {
  main{
    width: 80vw;
  }
}
/* Mobile */

@media only screen and (max-width: 600px) {
  main{
    flex-direction: column-reverse;
    width: 90vw;
    height: 90vh;
    padding: 20px;
  }
  #numbox{
    margin-left: 0;
    margin-bottom: 20px;
  }

  .numpad-row{
    margin-bottom: 10px;
  }
}
