*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #EFEFEF;
  --text-color: #000000;
  --theme-color: #FF7979;
  --bg-color: #FF7979;
}

button{
  color: var(--text-color);
  padding: 0;
}

button:active, button:hover{
   opacity: 0.7;
}


body{
  transition: 1s;
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

main{
  width: 50vw;
  height: 400px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  padding: 30px;
  display: flex;
}


#numpad button{
  background-color: var(--primary-color);
  border: none;
  font-size: 36px;
  width: 60px;
  height: 60px;
  border-radius: 99px;
}

#numpad button.btn-operator{
  color: var(--theme-color);
}

.btn-num:active{
  background: red;
}

.btn-equal{
  background-color: var(--theme-color)!important;
}
#numpad{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#numpad .numpad-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#numbox{
  flex: 1;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

#result-container{
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
}


#result-container h1{
  font-size: 64px;
  margin: 0;
}

#result-container h2{
  margin: 0;
  opacity: 0.5;
}

.btn{
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn img{
  margin-right: 10px;
}

#info{
  text-align: left;
}
#info .title{
  color: white;
}

.theme-box{
  display: grid;
  column-gap: 10px;
  margin-bottom: 25px;
}

.theme-color{
  grid-row: 1;
  height: 40px;
  width: 40px;
  border-radius: 99px;
}

.theme-color.active{
  border: 5px solid var(--primary-color);
}

.theme-color[data-color="red"]{
  background-color: #FF7979;
}

.theme-color[data-color="green"]{
  background-color: #4cd137;
}

.theme-color[data-color="blue"]{
 background-color: #487eb0;
}

.theme-color[data-color="yellow"]{
 background-color: #fbc531;
}

/*  Desktop */
@media only screen and (max-width: 1200px) {
  main{
    width: 80vw;
  }
}

/*  Tablet */
@media only screen and (max-width: 768px) {

  main{
    width: 90vw;

  }
}

/* Mobile */
@media only screen and (max-width: 600px) {

  main{
    flex-direction: column-reverse;
    width: 90vw;
    height: 90vh;
    padding: 20px;
  }

  #numbox{
    margin-left: 0;
    margin-bottom: 20px;
  }

  .numpad-row{
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  main{
    height: 1000px;;
  }
}
